# Python
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/

# Environment variables
.env

# Windows / Mac system files
Thumbs.db
.DS_Store

# Temporary Office files
~$*